$float_left: left;

html, body {
	margin: 0 auto;
	height: 100%;
	padding: 0 auto;
	width: 100%;
}

$header_height: 100px;

.wrap {
	width:auto;
	height:auto;

    .wrap-right {
      width: 100%;
				header {
					height: $header_height;
				}
    }
}


.clearfix {
    overflow: auto;
}

header , footer {
	float: $float_left;
	width: 100%;
}
/* wrap-left */
.wrap-left{
	header .header-logo {
		width: 100%;
		height: $header_height;
	}
}
/* wrap-right */

$wrap_right_height: 100%;

.wrap-right header {
	.header-nav-left {
  	width: 5%;
  }

  .header-search {
 	  width: 45%;
  }

  .header-nav {
  	width: 60%;
	}

  .header-nav-left , .header-search , .header-nav {
  	float: $float_left;
  }
}

.wrap-content{
	.page-content {
		width: 100%;
		height: 100%;
	}
}


footer {

  float: $float_left;

}
